<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html lang="">
<head runat="server">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%--    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <script src="assets/js/bootstrap.bundle.min.js"></script>--%>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/css/owl.theme.default.min.css" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- Font Awesome 6 CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    	<link rel="shortcut icon" href="../assets/fav.png">

    <!-- jQuery -->
    <!--Start of Tawk.to Script-->

    <!--End of Tawk.to Script-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="home wp-singular page-template-default page page-id-9 wp-theme-aeon elementor-default elementor-kit-8 elementor-page elementor-page-9">

        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/686270be1c010c190e036b19/1iv08gqrc';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
</script>

    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>

    <style>
        .social-links {
            display: flex;
            gap: 15px; /* <-- Adjust gap here */
            align-items: center;
        }

            .social-links a {
                color: white; /* Optional: icon color */
                font-size: 20px; /* Optional: icon size */
                text-decoration: none;
            }

                .social-links a:hover {
                    color: black;
                }

        @media (max-width: 576px) {
            .social-links {
                gap: 10px;
            }

                .social-links a {
                    font-size: 18px;
                }
        }
    </style>
    <footer class="nitro-lazy" style="background: #8C7B73">
        <div class="container">
            <div class="row gutter-y-40">
                <div class="col-xl-6 col-lg-6 col-md-7 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                    <div class="footer-widget footer-widget--about">
                        <div class="footer-widget__logo logo-retina">
                            <a href="index.html">
                                <img src="assets/BioHacker-Logo.png" alt="Mediox HTML" width="250">
                            </a>
                        </div>
                        <!-- /.footer-widget__logo -->
                        <p class="footer-widget__about-text">Morem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elita Florai Psum Dolor Sit Amet, Consecteture.Borem Ipsum Dolor</p>
                        <!-- /.footer-widget__about-text -->
                        <a href="appointment.html" class="footer-widget__btn">
                            <span>get consultant</span>
                            <span class="footer-widget__btn__icon"><i class="icon-up-right-arrow"></i></span>
                        </a>
                        <!-- /.footer-widget__btn -->
                        <div class="social-links">
                            <a href="https://www.facebook.com/TheBioHackeroffical/">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a href="https://x.com/The_biohacker_">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                            <a href="https://www.instagram.com/thebiohacker_official">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a href="https://www.youtube.com/@thebiohacker">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                <span class="sr-only">Youtube</span>
                            </a>
                        </div>
                        <!-- /.social-links -->
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <!-- /.col-xl-4 -->
                <div class="col-xl-3 col-lg-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                    <div class="footer-widget footer-widget--links">
                        <h2 class="footer-widget__title">our <span>Services</span></h2>
                        <!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="javascript:void(0);">Vitamin Shots</a></li>
                            <li><a href="javascript:void(0);">Peptide Therapy</a></li>
                            <li><a href="javascript:void(0);">IV Drip Therapy</a></li>
                            <li><a href="javascript:void(0);">Ozone Therapy</a></li>
                            <li><a href="javascript:void(0);">NAD+ Therapy</a></li>
                            <li><a href="javascript:void(0);">Colde Plunge</a></li>
                        </ul>
                        <!-- /.list-unstyled footer-widget__links -->
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <!-- /.col-xl-2 -->
                <div class="col-xl-3 col-lg-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                    <div class="footer-widget footer-widget--links">
                        <h2 class="footer-widget__title">useful <span>links</span></h2>
                        <!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="team.html">Our Team</a></li>
                            <li><a href="blog-grid-right.html">Latest Blog</a></li>
                            <li><a href="appointment.html">Appointments</a></li>
                            <li><a href="faq.html">Help & FAQS</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <!-- /.list-unstyled footer-widget__links -->
                    </div>
                    <!-- /.footer-widget -->
                </div>
                <!-- /.col-xl-2 -->
                <!-- /.col-xl-4 -->
            </div>
            <div class="main-footer__bottom">
                <div class="main-footer__info">
                    <div class="main-footer__info__bg"></div>
                    <!-- /.main-footer__info__bg -->
                    <div class="row main-footer__info__row gutter-y-40">
                        <div class="main-footer__info__col-1 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="main-footer__contact">
                                <span class="main-footer__contact__icon">
                                    <i class="fas fa-home"></i>
                                </span>
                                <!-- /.main-footer__contact__icon -->
                                <div class="main-footer__contact__content">
                                    <p class="main-footer__contact__title">office address</p>
                                    <h4 class="main-footer__contact__text">
                                        <a href="https://www.google.com/maps">901, Origin 108, Kumbharwada,Bhakti Bhavan Lane, Sindhi,Chembur, Mumbai – 400071</a>
                                    </h4>
                                </div>
                                <!-- /.main-footer__contact__content -->
                            </div>
                            <!-- /.main-footer__contact -->
                        </div>
                        <!-- /.main-footer__info__col-1 -->
                        <div class="main-footer__info__col-2 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                            <div class="main-footer__contact">
                                <span class="main-footer__contact__icon">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <!-- /.main-footer__contact__icon -->
                                <div class="main-footer__contact__content">
                                    <p class="main-footer__contact__title">send email</p>
                                    <h4 class="main-footer__contact__text">
                                        <a href="mailto:info@mediox.com">info@thebiohacker.in</a>
                                    </h4>
                                </div>
                                <!-- /.main-footer__contact__content -->
                            </div>
                            <!-- /.main-footer__contact -->
                        </div>
                        <!-- /.main-footer__info__col-2 -->
                        <div class="main-footer__info__col-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                            <div class="main-footer__contact">
                                <span class="main-footer__contact__icon">
                                    <i class="fas fa-phone"></i>
                                </span>
                                <!-- /.main-footer__contact__icon -->
                                <div class="main-footer__contact__content">
                                    <p class="main-footer__contact__title">call emergency</p>
                                    <h4 class="main-footer__contact__text">
                                        <a href="tel:9892123121">+91 9892123121</a>
                                    </h4>
                                </div>
                                <!-- /.main-footer__contact__content -->
                            </div>
                            <!-- /.main-footer__contact -->
                        </div>
                        <!-- /.main-footer__info__col-3 -->
                    </div>
                    <!-- /.row main-footer__info__row -->
                </div>
                <!-- /.main-footer__info -->
            </div>
            <!-- /.main-footer__bottom -->
        </div>
    </footer>


    <div class="whatsapp">
        <a href="https://wa.me/9892123121?text=Hi%20BioHacker" target="_blank"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
    </div>
    <div class="copyright text-center" style="background: #cfbbb0 !important; color: black !important">
        <div class="container">
            <p>
                Copyright &copy;
			
                <template>
                </template>
                The BioHacker. All Rights Reserved.    
		
            </p>
        </div>
    </div>

    <%--    <div class="mobile-contact d-none" style="margin-bottom: 55px;">
        <a href="tel:+97145185777">
            <img src="#" class="nitro-lazy" decoding="async" nitro-lazy-empty id="MzU5NzoxMTE=-1" src="data:image/svg+xml;nitro-empty-id=MzU5NzoxMTE=-1;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" />
            +971 4 518 5777</a>
    </div>
    <div class="mobile-contact d-none">
        <a href="https://shop.theaeonclinic.com/property/aeovae/vouchers/list">
            <img src="assets/uploads/2024/12/vouchericon.png" class="nitro-lazy" decoding="async" nitro-lazy-empty id="MzYwMDoxNTY=-1" src="data:image/svg+xml;nitro-empty-id=MzYwMDoxNTY=-1;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=" />
            E-Gift Vouchers</a>
    </div>--%>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <!-- Slick JS -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


</body>
</html>
